@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-display: block;
		font-family: FinalFantasy;
		font-weight: 400;
		src: url(lib/fonts/OPTIEngeEtienne.woff) format('woff');
	}
	@font-face {
		font-display: block;
		font-family: Minecraftia;
		font-weight: 400;
		src: url(lib/fonts/Minecraftia-Regular.ttf);
	}
	@font-face {
		font-display: block;
		font-family: Pixeloid;
		font-weight: 400;
		src: url(lib/fonts/PixeloidSans.ttf);
	}
}
